*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 100;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.my_header{
    width: 100%;
    height: 7.5rem;
    background-color: transparent;
}
.my_footer{
    width: 100%;
    height: 25rem;
}
ul{
    list-style: none;
}